In [2]:
from basicMod import showDfInfo
import pandas as pd
import sweetviz as sv

In [2]:
dfTrain = pd.read_csv('./titanic_DataSet/train.csv')
showDfInfo(dfTrain)

Data row count: 891
Total columns:
 ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [3]:
dfTrain['Fare'] = dfTrain['Fare'].astype(float)
dfTrain['Survived'] = dfTrain['Survived'].astype(int)

In [4]:
dfTest = pd.read_csv('./titanic_DataSet/test.csv')
showDfInfo(dfTest)

Data row count: 418
Total columns:
 ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

## <font color='blue'>01.Explore Data for Training set</font>

In [5]:
#skip: 'PassengerId', 
#categories: 'Survived', 'Pclass', 'Sex', 'Ticket', 'Cabin', 'Embarked'
#text: 'Name', 
#integer: 'Age', 'SibSp', 'Parch',
#float: 'Fare', 
feature_config = sv.FeatureConfig(skip='PassengerId', 
                                  force_text=['Name'], 
                                  force_cat=['Pclass', 'Sex', 'Ticket', 'Cabin', 'Embarked'], 
                                  force_num=['Age', 'SibSp', 'Parch', 'Fare'])

In [6]:
train_report = sv.analyze([dfTrain, 'Training-set_v1'], target_feat='Survived', 
                          feat_cfg=feature_config)

                                             |                                             | [  0%]   00:00 ->…

In [7]:
train_report.show_html('Train-report_V1.html')

Report Train-report_V1.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

----

## <font color='blue'>Compare with Train and Test</font>

In [8]:
compList = dfTest.columns.to_list()
dfTrain_comp = dfTrain[compList]

In [10]:
compare_report = sv.compare([dfTrain_comp, 'Train-set'], [dfTest, 'Test-set'], 
                            feat_cfg=feature_config)

                                             |                                             | [  0%]   00:00 ->…

In [13]:
compare_report.show_html('Compare with Train and Test.html')

Report Compare with Train and Test.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

# ========== Test Zone ==========

In [4]:
sv.compare?

In [3]:
sv.analyze?

In [6]:
sv.FeatureConfig?

In [12]:
compare_report.show_html?